

body{
    background-color: $colorMainBackground;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

section{
    background-color: $colorCardBackground;
    width: 80%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    align-items: center;


    @media (max-width:$tabletWidth){
        display: flex;
        flex-direction: column-reverse;    
         
       }
}

@import "text";
@import "image";