$colorMainBackground: hsl(233, 47%, 7%);
$colorCardBackground: hsl(244, 38%, 16%);
$colorAccent: hsl(277, 64%, 61%);
$colorMainHeading: hsl(0, 0%, 100%);
$colorMainParagraph:hsla(0, 0%, 100%, 0.75);
$colorStatHeading:  hsla(0, 0%, 100%, 0.6);
$fontFamily1: Inter, sans-serif;
$fontFamily2: Lexend Deca, sans-serif;
$desktopWidth: 1440px;
$phoneWidth: 375px;
$tabletWidth: 980px;